---
#- Management:
#  - Traefik:
#      href: https://{{ url_traefik }}
#      logo: https://d1q6f0aelx0por.cloudfront.net/product-logos/library-traefik-logo.png
#      description: The simplest, most comprehensive cloud-native stack to help enterprises manage their application connectivity and APIs across any environment.
#
#- HomeAutomation:
#  - Home Assistant:
#      href: https://{{ url_homeassistant }}
#      logo: home-assistant.png
#      description: Open source home automation that puts local control and privacy first.
#
#- Monitoring:
#  - PiHole:
#      href: https://{{ url_pihole }}
#      logo: pihole.png
#      description: Pi-hole is a Linux network-level advertisement and Internet tracker blocking application which acts as a DNS sinkhole and optionally a DHCP server, intended for use on a private network.
#  - Gatus:
#      href: https://{{ url_gatus }}
#      logo: https://gatus.io/img/logo.svg
#      description: The automated status page that you deserve
