---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/settings

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey

title: Homelab

layout:
  Download:
    style: row
    columns: 4
  HomeAutomation:
    icon: home-assistant.png

headerStyle: boxed

color: sky
