---
- resources:
    cpu: true
    memory: true
    disk: /

- datetime:
    text_size: xl
    format:
      timeStyle: short
      hourCycle: h23

- openmeteo:
    label: Alkmaar
    latitude: 52.6335909
    longitude: 4.6717773
    timezone: "{{ system_timezone }}"
    units: metric
    cache: 5
    format:
      maximumFractionDigits: 1