WESHER_CLUSTER_KEY={{ wesher_cluster_key | b64encode }}
WESHER_CLUSTER_PORT={{ wesher_port }}
WESHER_WIREGUARD_PORT={{ wesher_port + 1 }}
WESHER_OVERLAY_NET={{ wesher_subnet }}
WESHER_INTERFACE=wg-{{ cluster_slug }}
WESHER_BIND_ADDR={{ wesher_bind }}

servers = [{% for h in groups['nomad_cluster']%}"{{ hostvars[h].ansible_host }}:4646"{% if not loop.last %},{% endif %}{% endfor %}]

{% if ansible_hostname not in groups['wesher_cluster'] %}
WESHER_JOIN={{ wesher_master }}
{% endif %}

