[Unit]
Description=wesher - wireguard for cluster {{ cluster_slug }}
After=network-online.target

[Timer]
OnStartupSec=30s

[Service]
EnvironmentFile=-/etc/default/wesher-{{ cluster_slug }}
ExecStart=/usr/local/sbin/wesher
Restart=on-failure
RestartSec=15s
Type=simple

[Install]
WantedBy = multi-user.target
