options {
        version         "No, just no";

        directory       "/var/named";
        
        dump-file       "/var/named/data/cache_dump.db";
        statistics-file "/var/named/data/named_stats.txt";
        memstatistics-file "/var/named/data/named_mem_stats.txt";
        
        allow-query { any; };

        recursion no;
        
        listen-on port 53 { 127.0.0.1; {{ ansible_host }}; };
        listen-on-v6 { none; };

        dnssec-validation no;

        auth-nxdomain no;    # Conform to RFC1035
};
