//
// This file contains the own local DNS server configuration.
// This is where you declare the zones associated with this server's domain(s). 
// Consider adding the 1918 zones here, if they are not used in your organization 
// include "/etc/bind/zones.rfc1918";
//

// ----------------------- Zones -----------------------

// Forward-Lookup
zone "berry.home" {
    type {% if _is_master %}master{% else %}slave{% endif %};
    file "/var/lib/bind/zones/berry.home.zone";
    {% if _is_slave %}masters { {{ _dns_masters }}};{% endif %}
};

// Reverse-Lookup
zone "2.168.192.in-addr.arpa" {
    type {% if _is_master %}master{% else %}slave{% endif %};
    file "/var/lib/bind/zones/db.2.168.192.inv";
    {% if _is_slave %}masters { {{ _dns_masters }}};{% endif %}
};

// ----------------------- Zones -----------------------
