global
    log     	 fd@2 local2
    chroot  	 /var/lib/haproxy
    pidfile 	 /var/run/haproxy.pid
    maxconn 	 4000
    user    	 haproxy
    group   	 haproxy
    stats socket /var/lib/haproxy/stats expose-fd listeners
    master-worker

resolvers mynameservers
  nameserver ns1 192.168.2.221:53
  nameserver ns2 192.168.2.222:53
  nameserver ns3 192.168.2.223:53
