{# global_defs {
    router_id pihole-dns
    script_user root
    enable_script_security
}
vrrp_script chk_ftl {
    script "/etc/scripts/chk_ftl"
    interval 1
    weight -10
} #}

vrrp_instance PIHOLE {
    state {{ keepalived_state }}
    interface {{ keepalived_interface }}
    virtual_router_id 111
    priority {{ keepalived_priority }}

    unicast_src_ip {{ keepalived_address }}

    unicast_peer {
    {% for peer in _keepalived_unicast_peers %}
        {{ peer }}
    {% endfor %}
    }
    
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip_address }}
    }
    
    {# track_script {
        chk_ftl
    } #}
}


