---
nomad_version: 1.7.7

nomad_datacenter: "{{ datacenter_name }}"

nomad_user: nomad
nomad_group: nomad

nomad_zip_url: "https://releases.hashicorp.com/nomad/{{ nomad_version }}/nomad_{{ nomad_version }}_linux_{{ arch[ansible_architecture] }}.zip"

nomad_install_dir: /usr/bin
nomad_config_dir: /etc/nomad.d
nomad_data_dir: /opt/nomad

arch:
  x86_64: amd64
  aarch64: arm64
  armv7l: arm