{
  "renameMovies": true,
  "replaceIllegalCharacters": true,
  "colonReplacementFormat": "delete",
  "standardMovieFormat": "{Movie Title} ({Release Year})",
  "movieFolderFormat": "{Movie Title} ({Release Year})",
  "includeQuality": false,
  "replaceSpaces": false
}
