{
  "indexerUrls": [
    "https://extratorrent.st/",
    "https://extratorrent.ninjaproxy1.com/",
    "https://extratorrent.proxyninja.org/",
    "https://extratorrent.proxyninja.net/"
  ],
  "legacyUrls": [
    "https://extratorrent.unblockit.asia/",
    "https://extratorrent.unblockit.mov/",
    "https://extratorrent.mrunblock.life/",
    "https://extratorrent.unblockit.rsvp/",
    "https://extratorrent.unblockit.vegas/",
    "https://extratorrent.unblockit.esq/",
    "https://extratorrent.unblockit.zip/",
    "https://extratorrent.unblockit.foo/",
    "https://extratorrent.unblockit.ing/",
    "https://extratorrent.mrunblock.bond/",
    "https://extratorrent.nocensor.cloud/",
    "https://extratorrent.unblockit.date/",
    "https://extratorrent.unblockit.dad/",
    "https://extratorrent.unblockit.africa/",
    "https://extratorrent.unblockit.casa/",
    "https://extratorrent.unblockit.sbs/",
    "https://extratorrent.unblockit.ong/",
    "https://extratorrent.unblockit.black/"
  ],
  "definitionName": "extratorrent-st",
  "description": "ExtraTorrent.st is a Public tracker for MOVIE / TV / GENERAL magnets",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": [
          {
            "id": 2040,
            "name": "Movies/HD",
            "subCategories": []
          },
          {
            "id": 2045,
            "name": "Movies/UHD",
            "subCategories": []
          },
          {
            "id": 2060,
            "name": "Movies/3D",
            "subCategories": []
          },
          {
            "id": 2070,
            "name": "Movies/DVD",
            "subCategories": []
          },
          {
            "id": 2010,
            "name": "Movies/Foreign",
            "subCategories": []
          },
          {
            "id": 2020,
            "name": "Movies/Other",
            "subCategories": []
          }
        ]
      },
      {
        "id": 100467,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 118094,
        "name": "Movies HD",
        "subCategories": []
      },
      {
        "id": 153196,
        "name": "Movies UHD",
        "subCategories": []
      },
      {
        "id": 132150,
        "name": "Movies 3D",
        "subCategories": []
      },
      {
        "id": 126854,
        "name": "Bollywood",
        "subCategories": []
      },
      {
        "id": 105543,
        "name": "Movies clips",
        "subCategories": []
      },
      {
        "id": 110477,
        "name": "Movies DVD",
        "subCategories": []
      },
      {
        "id": 110210,
        "name": "Movies MP4",
        "subCategories": []
      },
      {
        "id": 118779,
        "name": "Movies Dubbed",
        "subCategories": []
      },
      {
        "id": 132413,
        "name": "Movies Other",
        "subCategories": []
      },
      {
        "id": 5000,
        "name": "TV",
        "subCategories": [
          {
            "id": 5080,
            "name": "TV/Documentary",
            "subCategories": []
          },
          {
            "id": 5070,
            "name": "TV/Anime",
            "subCategories": []
          }
        ]
      },
      {
        "id": 136609,
        "name": "Documentary",
        "subCategories": []
      },
      {
        "id": 143862,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 3000,
        "name": "Audio",
        "subCategories": [
          {
            "id": 3010,
            "name": "Audio/MP3",
            "subCategories": []
          },
          {
            "id": 3040,
            "name": "Audio/Lossless",
            "subCategories": []
          },
          {
            "id": 3020,
            "name": "Audio/Video",
            "subCategories": []
          },
          {
            "id": 3050,
            "name": "Audio/Other",
            "subCategories": []
          },
          {
            "id": 3030,
            "name": "Audio/Audiobook",
            "subCategories": []
          }
        ]
      },
      {
        "id": 130841,
        "name": "Music MP3",
        "subCategories": []
      },
      {
        "id": 154493,
        "name": "Music AAC",
        "subCategories": []
      },
      {
        "id": 146067,
        "name": "Music Lossless",
        "subCategories": []
      },
      {
        "id": 100082,
        "name": "Music Videos",
        "subCategories": []
      },
      {
        "id": 118123,
        "name": "Music Other",
        "subCategories": []
      },
      {
        "id": 153326,
        "name": "Music Radio",
        "subCategories": []
      },
      {
        "id": 6000,
        "name": "XXX",
        "subCategories": [
          {
            "id": 6060,
            "name": "XXX/ImageSet",
            "subCategories": []
          },
          {
            "id": 6070,
            "name": "XXX/Other",
            "subCategories": []
          }
        ]
      },
      {
        "id": 106076,
        "name": "Adult\u00A0/\u00A0Porn",
        "subCategories": []
      },
      {
        "id": 102715,
        "name": "Adult\u00A0/\u00A0Porn",
        "subCategories": []
      },
      {
        "id": 124211,
        "name": "Adult\u00A0Pictures",
        "subCategories": []
      },
      {
        "id": 110357,
        "name": "Adult\u00A0Magazines",
        "subCategories": []
      },
      {
        "id": 136409,
        "name": "Adult\u00A0Games",
        "subCategories": []
      },
      {
        "id": 125747,
        "name": "Adult\u00A0Hentai",
        "subCategories": []
      },
      {
        "id": 4000,
        "name": "PC",
        "subCategories": [
          {
            "id": 4070,
            "name": "PC/Mobile-Android",
            "subCategories": []
          },
          {
            "id": 4030,
            "name": "PC/Mac",
            "subCategories": []
          },
          {
            "id": 4050,
            "name": "PC/Games",
            "subCategories": []
          }
        ]
      },
      {
        "id": 155590,
        "name": "Software Windows",
        "subCategories": []
      },
      {
        "id": 110265,
        "name": "Software Android",
        "subCategories": []
      },
      {
        "id": 148136,
        "name": "Software Mac",
        "subCategories": []
      },
      {
        "id": 144419,
        "name": "Software Linux",
        "subCategories": []
      },
      {
        "id": 119659,
        "name": "PC Games",
        "subCategories": []
      },
      {
        "id": 1000,
        "name": "Console",
        "subCategories": [
          {
            "id": 1010,
            "name": "Console/NDS",
            "subCategories": []
          },
          {
            "id": 1080,
            "name": "Console/PS3",
            "subCategories": []
          },
          {
            "id": 1180,
            "name": "Console/PS4",
            "subCategories": []
          },
          {
            "id": 1020,
            "name": "Console/PSP",
            "subCategories": []
          },
          {
            "id": 1030,
            "name": "Console/Wii",
            "subCategories": []
          },
          {
            "id": 1050,
            "name": "Console/XBox 360",
            "subCategories": []
          },
          {
            "id": 1090,
            "name": "Console/Other",
            "subCategories": []
          }
        ]
      },
      {
        "id": 102386,
        "name": "Games NDS",
        "subCategories": []
      },
      {
        "id": 144394,
        "name": "Games PS3",
        "subCategories": []
      },
      {
        "id": 147897,
        "name": "Games PS4",
        "subCategories": []
      },
      {
        "id": 130864,
        "name": "Games PSP",
        "subCategories": []
      },
      {
        "id": 122059,
        "name": "Games Wii",
        "subCategories": []
      },
      {
        "id": 126053,
        "name": "Games Xbox360",
        "subCategories": []
      },
      {
        "id": 117470,
        "name": "Games Switch",
        "subCategories": []
      },
      {
        "id": 108669,
        "name": "Games Other",
        "subCategories": []
      },
      {
        "id": 151474,
        "name": "Anime  English-translated",
        "subCategories": []
      },
      {
        "id": 146065,
        "name": "Anime",
        "subCategories": []
      },
      {
        "id": 106203,
        "name": "Books Audiobook",
        "subCategories": []
      },
      {
        "id": 7000,
        "name": "Books",
        "subCategories": [
          {
            "id": 7030,
            "name": "Books/Comics",
            "subCategories": []
          },
          {
            "id": 7020,
            "name": "Books/EBook",
            "subCategories": []
          }
        ]
      },
      {
        "id": 155311,
        "name": "Books Comics",
        "subCategories": []
      },
      {
        "id": 122878,
        "name": "Books Ebook",
        "subCategories": []
      },
      {
        "id": 8000,
        "name": "Other",
        "subCategories": [
          {
            "id": 8010,
            "name": "Other/Misc",
            "subCategories": []
          }
        ]
      },
      {
        "id": 127246,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 123369,
        "name": "Other Applications",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [
      "q",
      "season",
      "ep"
    ],
    "movieSearchParams": [
      "q"
    ],
    "musicSearchParams": [
      "q"
    ],
    "bookSearchParams": [
      "q"
    ]
  },
  "priority": 25,
  "downloadClientId": 0,
  "added": "2024-06-28T14:42:08Z",
  "sortName": "extratorrent st",
  "name": "ExtraTorrent.st",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "extratorrent-st",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which base url Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of max queries as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of max grabs as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 4,
      "name": "baseSettings.limitsUnit",
      "label": "Limits Unit",
      "helpText": "The unit of time for counting limits per indexer",
      "value": 0,
      "type": "select",
      "advanced": true,
      "selectOptions": [
        {
          "value": 0,
          "name": "Day",
          "order": 0,
          "hint": "(0)"
        },
        {
          "value": 1,
          "name": "Hour",
          "order": 1,
          "hint": "(1)"
        }
      ],
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty uses the download client's default. Ratio should be at least 1.0 and follow the indexers rules",
      "type": "number",
      "advanced": false,
      "privacy": "normal",
      "isFloat": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty uses the download client's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 8,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 0,
      "name": "info_flaresolverr",
      "label": "FlareSolverr Info",
      "value": "This site may use Cloudflare DDoS Protection, therefore Prowlarr requires <a href=\"https://wiki.servarr.com/prowlarr/faq#can-i-use-flaresolverr-indexers\" target=\"_blank\" rel=\"noreferrer\">FlareSolverr</a> to access it.",
      "type": "info",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#extratorrent-st",
  "tags": [
    1
  ]
}