
{
  "indexerUrls": [
    "https://www.limetorrents.lol/",
    "https://limetorrents.unblockit.asia/",
    "https://limetorrents.unblockninja.com/",
    "https://limetorrents.mrunblock.life/",
    "https://limetorrents.nocensor.click/"
  ],
  "legacyUrls": [
    "https://www.limetorrents.io/",
    "https://www.limetorrents.cc/",
    "https://www.limetorrents.me/",
    "https://www.limetorrents.zone/",
    "https://www.limetorrents.info/",
    "https://www.limetorrents.asia/",
    "https://www.limetorrents.co/",
    "https://limetor.com/",
    "https://www.limetor.pro/",
    "https://www.limetorrents.pro/",
    "https://limetorrents.unblockit.ist/",
    "https://limetorrents.unblockit.bet/",
    "https://limetorrents.unblockit.cat/",
    "https://limetorrents.unblockit.nz/",
    "https://limetorrents.nocensor.world/",
    "https://limetorrents.unblockit.page/",
    "https://limetorrents.unblockit.pet/",
    "https://limetorrents.nocensor.lol/",
    "https://limetorrents.unblockit.ink/",
    "https://limetorrents.nocensor.art/",
    "https://limetorrents.unblockit.bio/",
    "https://limetorrents.unblockit.boo/",
    "https://limetorrents.mrunblock.guru/",
    "https://limetorrents.unblockit.click/"
  ],
  "definitionName": "limetorrents",
  "description": "LimeTorrents is a Public general torrent index with mostly verified torrents",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 5000,
        "name": "TV",
        "subCategories": [
          {
            "id": 5070,
            "name": "TV/Anime",
            "subCategories": []
          }
        ]
      },
      {
        "id": 112972,
        "name": "TV shows",
        "subCategories": []
      },
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 100467,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 3000,
        "name": "Audio",
        "subCategories": []
      },
      {
        "id": 104627,
        "name": "Music",
        "subCategories": []
      },
      {
        "id": 1000,
        "name": "Console",
        "subCategories": []
      },
      {
        "id": 136409,
        "name": "Games",
        "subCategories": []
      },
      {
        "id": 4000,
        "name": "PC",
        "subCategories": [
          {
            "id": 4010,
            "name": "PC/0day",
            "subCategories": []
          }
        ]
      },
      {
        "id": 151062,
        "name": "Applications",
        "subCategories": []
      },
      {
        "id": 0,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 127246,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 146065,
        "name": "Anime",
        "subCategories": []
      },
      {
        "id": 7000,
        "name": "Books",
        "subCategories": [
          {
            "id": 7020,
            "name": "Books/EBook",
            "subCategories": []
          }
        ]
      },
      {
        "id": 121527,
        "name": "E-books",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [
      "q",
      "season",
      "ep"
    ],
    "movieSearchParams": [
      "q"
    ],
    "musicSearchParams": [
      "q"
    ],
    "bookSearchParams": [
      "q"
    ]
  },
  "priority": 25,
  "added": "2023-05-08T10:49:05Z",
  "sortName": "limetorrents",
  "name": "LimeTorrents",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "limetorrents",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden"
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which baseurl Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls"
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of queries within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of grabs within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 4,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty is app's default",
      "type": "textbox",
      "advanced": true
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 0,
      "name": "downloadlink",
      "label": "Download link",
      "value": 1,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "iTorrents.org",
          "order": 0
        },
        {
          "value": 1,
          "name": "magnet",
          "order": 0
        }
      ]
    },
    {
      "order": 1,
      "name": "downloadlink2",
      "label": "Download link (fallback)",
      "value": 0,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "iTorrents.org",
          "order": 0
        },
        {
          "value": 1,
          "name": "magnet",
          "order": 0
        }
      ]
    },
    {
      "order": 2,
      "name": "info_download",
      "label": "About the Download links",
      "value": "As the .torrent download links on this site are known to fail from time to time, you can optionally set as a fallback an automatic alternate link.",
      "type": "info",
      "advanced": false
    },
    {
      "order": 3,
      "name": "sort",
      "label": "Sort requested from site",
      "value": 0,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "created",
          "order": 0
        },
        {
          "value": 1,
          "name": "seeders",
          "order": 0
        },
        {
          "value": 2,
          "name": "size",
          "order": 0
        }
      ]
    },
    {
      "order": 4,
      "name": "info_8000",
      "label": "About LimeTorrents Categories",
      "value": "LimeTorrents only returns category <b>Other</b> in its <i>Keywordless</i> search results page.</br>To pass your apps' indexer TEST you will need to include the 8000(Other) category.",
      "type": "info",
      "advanced": false
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#limetorrents",
  "tags": [
    1
  ]
}
