{
  "indexerUrls": [
    "https://yts.mx/",
    "https://yts.unblockit.asia/",
    "https://yts.unblockninja.com/",
    "https://yts.mrunblock.life/",
    "https://yts.nocensor.click/"
  ],
  "legacyUrls": [
    "https://yts.ag/",
    "https://yts.am/",
    "https://yts.lt/",
    "https://yts.unblockit.cam/",
    "https://yts.nocensor.biz/",
    "https://yts.unblockit.day/",
    "https://yts.unblockit.llc/",
    "https://yts.unblockit.blue/",
    "https://yts.unblockit.name/",
    "https://yts.nocensor.sbs/",
    "https://yts.unblockit.ist/",
    "https://yts.unblockit.bet/",
    "https://yts.unblockit.cat/",
    "https://yts.unblockit.nz/",
    "https://yts.nocensor.world/",
    "https://yts.unblockit.page/",
    "https://yts.unblockit.pet/",
    "https://yts.nocensor.lol/",
    "https://yts.unblockit.ink/",
    "https://yts.nocensor.art/",
    "https://yts.unblockit.bio/",
    "https://yts.unblockit.boo/",
    "https://yts.mrunblock.guru/",
    "https://yts.unblockit.click/"
  ],
  "definitionName": "yts",
  "description": "YTS is a Public torrent site specialising in HD movies of small size",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": [
          {
            "id": 2040,
            "name": "Movies/HD",
            "subCategories": []
          },
          {
            "id": 2045,
            "name": "Movies/UHD",
            "subCategories": []
          },
          {
            "id": 2060,
            "name": "Movies/3D",
            "subCategories": []
          }
        ]
      },
      {
        "id": 100045,
        "name": "Movies/x264/720p",
        "subCategories": []
      },
      {
        "id": 100044,
        "name": "Movies/x264/1080p",
        "subCategories": []
      },
      {
        "id": 100046,
        "name": "Movies/x264/2160p",
        "subCategories": []
      },
      {
        "id": 100047,
        "name": "Movies/x264/3D",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [],
    "movieSearchParams": [
      "q",
      "imdbId"
    ],
    "musicSearchParams": [],
    "bookSearchParams": []
  },
  "priority": 25,
  "added": "2023-05-08T10:48:57Z",
  "sortName": "yts",
  "name": "YTS",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "yts",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden"
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which baseurl Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls"
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of queries within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of grabs within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 4,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty is app's default",
      "type": "textbox",
      "advanced": true
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#yts",
  "tags": [
    1
  ]
}
