{
  "indexerUrls": [
    "https://torrentz2.nz/"
  ],
  "legacyUrls": [
    "https://torrentz2.mrunblock.bond/",
    "https://torrentz2.nocensor.cloud/"
  ],
  "definitionName": "torrentz2nz",
  "description": "Torrentz2nz is a Public torrent meta-search engine",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 100001,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 5000,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 100002,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 8000,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 100003,
        "name": "Other",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [
      "q",
      "season",
      "ep"
    ],
    "movieSearchParams": [
      "q"
    ],
    "musicSearchParams": [],
    "bookSearchParams": []
  },
  "priority": 25,
  "downloadClientId": 0,
  "added": "2024-06-28T14:49:35Z",
  "sortName": "torrentz2nz",
  "name": "Torrentz2nz",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "torrentz2nz",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which base url Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of max queries as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of max grabs as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 4,
      "name": "baseSettings.limitsUnit",
      "label": "Limits Unit",
      "helpText": "The unit of time for counting limits per indexer",
      "value": 0,
      "type": "select",
      "advanced": true,
      "selectOptions": [
        {
          "value": 0,
          "name": "Day",
          "order": 0,
          "hint": "(0)"
        },
        {
          "value": 1,
          "name": "Hour",
          "order": 1,
          "hint": "(1)"
        }
      ],
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty uses the download client's default. Ratio should be at least 1.0 and follow the indexers rules",
      "type": "number",
      "advanced": false,
      "privacy": "normal",
      "isFloat": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty uses the download client's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 8,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 0,
      "name": "info_category_8000",
      "label": "About Torrentz2nz Categories",
      "value": "Torrentz2nz does not return categories in its search results. To sync to your apps, include 8000(Other) in your Apps' Sync Categories.",
      "type": "info",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#torrentz2nz",
  "tags": []