{
  "indexerUrls": [
    "https://www.torrentdownload.info/",
    "https://torrentdownload.unblockit.black/"
  ],
  "legacyUrls": [
    "https://torrentdownload.unblockit.asia/",
    "https://torrentdownload.unblockit.mov/",
    "https://torrentdownload.mrunblock.life/",
    "https://torrentdownload.unblockit.rsvp/",
    "https://torrentdownload.unblockit.vegas/",
    "https://torrentdownload.unblockit.esq/",
    "https://torrentdownload.unblockit.zip/",
    "https://torrentdownload.unblockit.foo/",
    "https://torrentdownload.unblockit.ing/",
    "https://torrentdownload.mrunblock.bond/",
    "https://torrentdownload.nocensor.cloud/",
    "https://torrentdownload.unblockit.date/",
    "https://torrentdownload.unblockit.dad/",
    "https://torrentdownload.unblockit.africa/",
    "https://torrentdownload.unblockit.casa/",
    "https://torrentdownload.unblockit.sbs/",
    "https://torrentdownload.unblockit.ong/"
  ],
  "definitionName": "torrentdownload",
  "description": "TorrentDownload is a Public torrent meta-search engine",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 6000,
        "name": "XXX",
        "subCategories": []
      },
      {
        "id": 129719,
        "name": "Adult",
        "subCategories": []
      },
      {
        "id": 157624,
        "name": "Adult Porn HD Video",
        "subCategories": []
      },
      {
        "id": 109047,
        "name": "Adult Porn Pictures",
        "subCategories": []
      },
      {
        "id": 134439,
        "name": "Adult Porn Video",
        "subCategories": []
      },
      {
        "id": 5000,
        "name": "TV",
        "subCategories": [
          {
            "id": 5070,
            "name": "TV/Anime",
            "subCategories": []
          },
          {
            "id": 5080,
            "name": "TV/Documentary",
            "subCategories": []
          },
          {
            "id": 5050,
            "name": "TV/Other",
            "subCategories": []
          }
        ]
      },
      {
        "id": 146065,
        "name": "Anime",
        "subCategories": []
      },
      {
        "id": 164586,
        "name": "Anime English translated",
        "subCategories": []
      },
      {
        "id": 125620,
        "name": "Anime Other",
        "subCategories": []
      },
      {
        "id": 4000,
        "name": "PC",
        "subCategories": [
          {
            "id": 4010,
            "name": "PC/0day",
            "subCategories": []
          },
          {
            "id": 4070,
            "name": "PC/Mobile-Android",
            "subCategories": []
          },
          {
            "id": 4050,
            "name": "PC/Games",
            "subCategories": []
          }
        ]
      },
      {
        "id": 151062,
        "name": "Applications",
        "subCategories": []
      },
      {
        "id": 165079,
        "name": "Applications Android",
        "subCategories": []
      },
      {
        "id": 144435,
        "name": "Applications Windows",
        "subCategories": []
      },
      {
        "id": 3000,
        "name": "Audio",
        "subCategories": [
          {
            "id": 3030,
            "name": "Audio/Audiobook",
            "subCategories": []
          },
          {
            "id": 3040,
            "name": "Audio/Lossless",
            "subCategories": []
          },
          {
            "id": 3010,
            "name": "Audio/MP3",
            "subCategories": []
          },
          {
            "id": 3020,
            "name": "Audio/Video",
            "subCategories": []
          }
        ]
      },
      {
        "id": 115634,
        "name": "Books Audiobooks",
        "subCategories": []
      },
      {
        "id": 160428,
        "name": "Books Audiobooks",
        "subCategories": []
      },
      {
        "id": 153068,
        "name": "Audio Lossless",
        "subCategories": []
      },
      {
        "id": 116007,
        "name": "Audio Music",
        "subCategories": []
      },
      {
        "id": 7000,
        "name": "Books",
        "subCategories": [
          {
            "id": 7030,
            "name": "Books/Comics",
            "subCategories": []
          },
          {
            "id": 7020,
            "name": "Books/EBook",
            "subCategories": []
          },
          {
            "id": 7010,
            "name": "Books/Mags",
            "subCategories": []
          }
        ]
      },
      {
        "id": 158575,
        "name": "Books Academic",
        "subCategories": []
      },
      {
        "id": 145689,
        "name": "Books Comics",
        "subCategories": []
      },
      {
        "id": 112812,
        "name": "Books Ebooks",
        "subCategories": []
      },
      {
        "id": 147656,
        "name": "Books Educational",
        "subCategories": []
      },
      {
        "id": 126347,
        "name": "Books Magazines",
        "subCategories": []
      },
      {
        "id": 124764,
        "name": "Books Fiction",
        "subCategories": []
      },
      {
        "id": 165359,
        "name": "Books Nonfiction",
        "subCategories": []
      },
      {
        "id": 100749,
        "name": "Books Textbooks",
        "subCategories": []
      },
      {
        "id": 122878,
        "name": "Books Ebooks",
        "subCategories": []
      },
      {
        "id": 1000,
        "name": "Console",
        "subCategories": []
      },
      {
        "id": 136409,
        "name": "Games",
        "subCategories": []
      },
      {
        "id": 147418,
        "name": "Games Windows",
        "subCategories": []
      },
      {
        "id": 2000,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 100467,
        "name": "Movies",
        "subCategories": []
      },
      {
        "id": 135672,
        "name": "Movies Action",
        "subCategories": []
      },
      {
        "id": 108211,
        "name": "Movies Concerts",
        "subCategories": []
      },
      {
        "id": 104516,
        "name": "Movies Crime",
        "subCategories": []
      },
      {
        "id": 133730,
        "name": "Movies Documentary",
        "subCategories": []
      },
      {
        "id": 122149,
        "name": "Movies Dubbed Movies",
        "subCategories": []
      },
      {
        "id": 157842,
        "name": "Movies Highres Movies",
        "subCategories": []
      },
      {
        "id": 101316,
        "name": "Movies Musicvideos",
        "subCategories": []
      },
      {
        "id": 107093,
        "name": "Movies Thriller",
        "subCategories": []
      },
      {
        "id": 104627,
        "name": "Music",
        "subCategories": []
      },
      {
        "id": 116237,
        "name": "Music Hardrock",
        "subCategories": []
      },
      {
        "id": 116228,
        "name": "Music Mp3",
        "subCategories": []
      },
      {
        "id": 161472,
        "name": "Music FLAC",
        "subCategories": []
      },
      {
        "id": 148876,
        "name": "Music Lossless",
        "subCategories": []
      },
      {
        "id": 164906,
        "name": "Music R&B",
        "subCategories": []
      },
      {
        "id": 102524,
        "name": "Music Trance House Dance",
        "subCategories": []
      },
      {
        "id": 8000,
        "name": "Other",
        "subCategories": [
          {
            "id": 8010,
            "name": "Other/Misc",
            "subCategories": []
          }
        ]
      },
      {
        "id": 127246,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 148364,
        "name": "Other Ebooks",
        "subCategories": []
      },
      {
        "id": 115776,
        "name": "Other Comics",
        "subCategories": []
      },
      {
        "id": 103485,
        "name": "Other Tutorials",
        "subCategories": []
      },
      {
        "id": 138214,
        "name": "Other Unsorted",
        "subCategories": []
      },
      {
        "id": 129561,
        "name": "Pictures Other",
        "subCategories": []
      },
      {
        "id": 134802,
        "name": "Pictures Wallpapers",
        "subCategories": []
      },
      {
        "id": 153402,
        "name": "Software",
        "subCategories": []
      },
      {
        "id": 143862,
        "name": "TV",
        "subCategories": []
      },
      {
        "id": 144345,
        "name": "TV BBC",
        "subCategories": []
      },
      {
        "id": 100795,
        "name": "TV Ellen DeGeneres",
        "subCategories": []
      },
      {
        "id": 144174,
        "name": "TV Other",
        "subCategories": []
      },
      {
        "id": 105852,
        "name": "TV shows",
        "subCategories": []
      },
      {
        "id": 131655,
        "name": "Television",
        "subCategories": []
      },
      {
        "id": 158611,
        "name": "Movies Video Mobile",
        "subCategories": []
      },
      {
        "id": 145382,
        "name": "Video Movies",
        "subCategories": []
      },
      {
        "id": 102960,
        "name": "Video Music",
        "subCategories": []
      },
      {
        "id": 126537,
        "name": "XXX",
        "subCategories": []
      },
      {
        "id": 117583,
        "name": "XXX Video",
        "subCategories": []
      },
      {
        "id": 108207,
        "name": "XXX HD Video",
        "subCategories": []
      },
      {
        "id": 161316,
        "name": "XXX Pictures",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [
      "q",
      "season",
      "ep"
    ],
    "movieSearchParams": [
      "q"
    ],
    "musicSearchParams": [
      "q"
    ],
    "bookSearchParams": [
      "q"
    ]
  },
  "priority": 25,
  "downloadClientId": 0,
  "added": "2024-06-28T14:49:07Z",
  "sortName": "torrentdownload",
  "name": "TorrentDownload",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "torrentdownload",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which base url Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls",
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of max queries as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of max grabs as specified by the respective unit that Prowlarr will allow to the site",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 4,
      "name": "baseSettings.limitsUnit",
      "label": "Limits Unit",
      "helpText": "The unit of time for counting limits per indexer",
      "value": 0,
      "type": "select",
      "advanced": true,
      "selectOptions": [
        {
          "value": 0,
          "name": "Day",
          "order": 0,
          "hint": "(0)"
        },
        {
          "value": 1,
          "name": "Hour",
          "order": 1,
          "hint": "(1)"
        }
      ],
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty uses the download client's default. Ratio should be at least 1.0 and follow the indexers rules",
      "type": "number",
      "advanced": false,
      "privacy": "normal",
      "isFloat": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty uses the download client's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 8,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 0,
      "name": "sort",
      "label": "Sort requested from site (Applies only to Search with Keywords)",
      "value": 1,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "seeders",
          "order": 0
        },
        {
          "value": 1,
          "name": "created",
          "order": 0
        }
      ],
      "privacy": "normal",
      "isFloat": false
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#torrentdownload",
  "tags": []
}