{
  "indexerUrls": [
    "https://crackingpatching.com/"
  ],
  "legacyUrls": [],
  "definitionName": "crackingpatching",
  "description": "CrackingPatching is a Public tracker for Software and Apps",
  "language": "en-US",
  "encoding": "Unicode (UTF-8)",
  "enable": true,
  "redirect": false,
  "supportsRss": true,
  "supportsSearch": true,
  "supportsRedirect": false,
  "supportsPagination": false,
  "appProfileId": 1,
  "protocol": "torrent",
  "privacy": "public",
  "capabilities": {
    "limitsMax": 100,
    "limitsDefault": 100,
    "categories": [
      {
        "id": 4000,
        "name": "PC",
        "subCategories": [
          {
            "id": 4070,
            "name": "PC/Mobile-Android",
            "subCategories": []
          },
          {
            "id": 4050,
            "name": "PC/Games",
            "subCategories": []
          },
          {
            "id": 4030,
            "name": "PC/Mac",
            "subCategories": []
          }
        ]
      },
      {
        "id": 123433,
        "name": "Adobe Software",
        "subCategories": []
      },
      {
        "id": 132287,
        "name": "Adobe Tools",
        "subCategories": []
      },
      {
        "id": 148100,
        "name": "Android",
        "subCategories": []
      },
      {
        "id": 133515,
        "name": "Animations/ 3D Graphics",
        "subCategories": []
      },
      {
        "id": 122961,
        "name": "Antivirus",
        "subCategories": []
      },
      {
        "id": 150843,
        "name": "CD/ DVD Burners",
        "subCategories": []
      },
      {
        "id": 138732,
        "name": "Compression Tools",
        "subCategories": []
      },
      {
        "id": 139593,
        "name": "Converters",
        "subCategories": []
      },
      {
        "id": 129333,
        "name": "Crack & Serials",
        "subCategories": []
      },
      {
        "id": 140834,
        "name": "Downloader",
        "subCategories": []
      },
      {
        "id": 156448,
        "name": "Drivers Update",
        "subCategories": []
      },
      {
        "id": 110205,
        "name": "Games",
        "subCategories": []
      },
      {
        "id": 113032,
        "name": "Home",
        "subCategories": []
      },
      {
        "id": 106065,
        "name": "IDM",
        "subCategories": []
      },
      {
        "id": 125206,
        "name": "IDM Crack/ Patch",
        "subCategories": []
      },
      {
        "id": 149033,
        "name": "iOS/ MAC OS X",
        "subCategories": []
      },
      {
        "id": 119996,
        "name": "Keygen / Loader",
        "subCategories": []
      },
      {
        "id": 106000,
        "name": "KeyGen / Serial",
        "subCategories": []
      },
      {
        "id": 146972,
        "name": "Microsoft Office",
        "subCategories": []
      },
      {
        "id": 128992,
        "name": "Multimedia",
        "subCategories": []
      },
      {
        "id": 0,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 138096,
        "name": "Other",
        "subCategories": []
      },
      {
        "id": 133925,
        "name": "PDF Tools",
        "subCategories": []
      },
      {
        "id": 163085,
        "name": "Photo Editing Tools",
        "subCategories": []
      },
      {
        "id": 118514,
        "name": "Recovery Software",
        "subCategories": []
      },
      {
        "id": 163796,
        "name": "Request Crack/ Patch",
        "subCategories": []
      },
      {
        "id": 157419,
        "name": "Screen Recorders",
        "subCategories": []
      },
      {
        "id": 160558,
        "name": "Security",
        "subCategories": []
      },
      {
        "id": 106057,
        "name": "System Optimizers",
        "subCategories": []
      },
      {
        "id": 134700,
        "name": "Uncategorized",
        "subCategories": []
      },
      {
        "id": 157663,
        "name": "VPN",
        "subCategories": []
      },
      {
        "id": 114251,
        "name": "Windows",
        "subCategories": []
      },
      {
        "id": 163084,
        "name": "Windows App",
        "subCategories": []
      }
    ],
    "supportsRawSearch": false,
    "searchParams": [
      "q",
      "q"
    ],
    "tvSearchParams": [],
    "movieSearchParams": [],
    "musicSearchParams": [],
    "bookSearchParams": []
  },
  "priority": 25,
  "added": "2023-05-28T19:41:55Z",
  "sortName": "crackingpatching",
  "name": "CrackingPatching",
  "fields": [
    {
      "order": 0,
      "name": "definitionFile",
      "value": "crackingpatching",
      "type": "textbox",
      "advanced": false,
      "hidden": "hidden"
    },
    {
      "order": 1,
      "name": "baseUrl",
      "label": "Base Url",
      "helpText": "Select which baseurl Prowlarr will use for requests to the site",
      "type": "select",
      "advanced": false,
      "selectOptionsProviderAction": "getUrls"
    },
    {
      "order": 2,
      "name": "baseSettings.queryLimit",
      "label": "Query Limit",
      "helpText": "The number of queries within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 3,
      "name": "baseSettings.grabLimit",
      "label": "Grab Limit",
      "helpText": "The number of grabs within a rolling 24 hour period Prowlarr will allow to the site",
      "type": "number",
      "advanced": true
    },
    {
      "order": 4,
      "name": "torrentBaseSettings.appMinimumSeeders",
      "label": "Apps Minimum Seeders",
      "helpText": "Minimum seeders required by the Applications for the indexer to grab, empty is Sync profile's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 5,
      "name": "torrentBaseSettings.seedRatio",
      "label": "Seed Ratio",
      "helpText": "The ratio a torrent should reach before stopping, empty is app's default",
      "type": "textbox",
      "advanced": true
    },
    {
      "order": 6,
      "name": "torrentBaseSettings.seedTime",
      "label": "Seed Time",
      "unit": "minutes",
      "helpText": "The time a torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    },
    {
      "order": 7,
      "name": "torrentBaseSettings.packSeedTime",
      "label": "Pack Seed Time",
      "unit": "minutes",
      "helpText": "The time a pack (season or discography) torrent should be seeded before stopping, empty is app's default",
      "type": "number",
      "advanced": true
    }
  ],
  "implementationName": "Cardigann",
  "implementation": "Cardigann",
  "configContract": "CardigannSettings",
  "infoLink": "https://wiki.servarr.com/prowlarr/supported-indexers#crackingpatching",
  "tags": []
}
