{
  "enable": true,
  "protocol": "torrent",
  "priority": 1,
  "removeCompletedDownloads": true,
  "removeFailedDownloads": true,
  "name": "rTorrent",
  "fields": [
    {
      "order": 0,
      "name": "host",
      "label": "Host",
      "value": "localhost",
      "type": "textbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 1,
      "name": "port",
      "label": "Port",
      "value": 8592,
      "type": "textbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 2,
      "name": "useSsl",
      "label": "Use SSL",
      "helpText": "Use secure connection when connection to rTorrent",
      "value": false,
      "type": "checkbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 3,
      "name": "urlBase",
      "label": "Url Path",
      "helpText": "Path to the XMLRPC endpoint, see http(s)://[host]:[port]/[urlPath]. This is usually RPC2 or [path to ruTorrent]/plugins/rpc/rpc.php when using ruTorrent.",
      "value": "RPC2",
      "type": "textbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 4,
      "name": "username",
      "label": "Username",
      "type": "textbox",
      "advanced": false,
      "privacy": "userName",
      "isFloat": false
    },
    {
      "order": 5,
      "name": "password",
      "label": "Password",
      "type": "password",
      "advanced": false,
      "privacy": "password",
      "isFloat": false
    },
    {
      "order": 6,
      "name": "tvCategory",
      "label": "Category",
      "helpText": "Adding a category specific to Sonarr avoids conflicts with unrelated non-Sonarr downloads. Using a category is optional, but strongly recommended.",
      "value": "tv-sonarr",
      "type": "textbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 7,
      "name": "tvImportedCategory",
      "label": "Post-Import Category",
      "helpText": "Category for Sonarr to set after it has imported the download. Sonarr will not remove torrents in that category even if seeding finished. Leave blank to keep same category.",
      "type": "textbox",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 8,
      "name": "tvDirectory",
      "label": "Directory",
      "helpText": "Optional location to put downloads in, leave blank to use the default rTorrent location",
      "type": "textbox",
      "advanced": true,
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 9,
      "name": "recentTvPriority",
      "label": "Recent Priority",
      "helpText": "Priority to use when grabbing episodes that aired within the last 14 days",
      "value": 2,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "VeryLow",
          "order": 0
        },
        {
          "value": 1,
          "name": "Low",
          "order": 1
        },
        {
          "value": 2,
          "name": "Normal",
          "order": 2
        },
        {
          "value": 3,
          "name": "High",
          "order": 3
        }
      ],
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 10,
      "name": "olderTvPriority",
      "label": "Older Priority",
      "helpText": "Priority to use when grabbing episodes that aired over 14 days ago",
      "value": 2,
      "type": "select",
      "advanced": false,
      "selectOptions": [
        {
          "value": 0,
          "name": "VeryLow",
          "order": 0
        },
        {
          "value": 1,
          "name": "Low",
          "order": 1
        },
        {
          "value": 2,
          "name": "Normal",
          "order": 2
        },
        {
          "value": 3,
          "name": "High",
          "order": 3
        }
      ],
      "privacy": "normal",
      "isFloat": false
    },
    {
      "order": 11,
      "name": "addStopped",
      "label": "Add Stopped",
      "helpText": "Enabling will add torrents and magnets to rTorrent in a stopped state. This may break magnet files.",
      "value": false,
      "type": "checkbox",
      "advanced": false,
      "privacy": "normal",
      "isFloat": false
    }
  ],
  "implementationName": "rTorrent",
  "implementation": "RTorrent",
  "configContract": "RTorrentSettings",
  "infoLink": "https://wiki.servarr.com/sonarr/supported#rtorrent",
  "message": {
    "message": "rTorrent will not pause torrents when they meet the seed criteria. Sonarr will handle automatic removal of torrents based on the current seed criteria in Settings->Indexers only when Remove Completed is enabled.  After importing it will also set sonarr_imported as an rTorrent view, which can be used in rTorrent scripts to customize behavior.",
    "type": "info"
  },
  "tags": []
}