[defaults]
force_color=True
stdout_callback=yaml

vault_password_file = ../.vault_pass

interpreter_python=python3
ansible_managed=This file is managed by Ansible.%n
	file modified on %Y-%m-%d %H:%M:%S by {uid} on {host}
host_key_checking=False

inventory=inventory/hosts
roles_path=.galaxy/roles:roles

callbacks_enabled = timer, profile_tasks, profile_roles

remote_tmp=~/tmp/

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
