"addresses" = {
  "dns" = "0.0.0.0"
  "grpc" = "0.0.0.0"
  "http" = "0.0.0.0"
  "https" = "0.0.0.0"
}

advertise_addr = "{{ ansible_host }}"

bind_addr = "0.0.0.0"

client_addr = "0.0.0.0"

data_dir = "{{ consul_data_dir }}"
datacenter = "{{ consul_datacenter }}"
disable_update_check = false
domain = "consul"

enable_script_checks = false
enable_syslog = true
syslog_facility = "local0"
encrypt = "{{ consul_gossip_key }}"
log_level = "INFO"
node_name = "{{ inventory_hostname }}"

performance = {
  leave_drain_time = "5s"
  raft_multiplier = 1
  rpc_hold_timeout = "7s"
}

ports = {
  dns = {{ consul_ports['dns'] }}
  http = {{ consul_ports['http'] }}
  https = {{ consul_ports['https'] }}
  server = {{ consul_ports['server'] }}
  grpc = {{ consul_ports['grpc'] }}
  grpc_tls = {{ consul_ports['grpc_tls'] }}
}

raft_protocol = 3
retry_interval = "30s"
retry_join = {{ _retry_join }}

ui_config = {
  enabled = true
}

acl = {
  enabled = false
  default_policy = "allow"
  enable_token_persistence = true
}

dns_config = {
  enable_truncate= true
  udp_answer_limit = 100
}