mealie_database:5432:{{ secret_mealie_database_name }}:{{ secret_mealie_database_user }}:{{ secret_mealie_database_password }}
paperless_database:5432:{{ secret_paperless_database_name }}:{{ secret_paperless_database_user }}:{{ secret_paperless_database_password }}