# To create a hashed password you can run the following command:
# `docker run authelia/authelia:latest authelia hash-password YOUR_PASSWORD``
users:
  dave:
    displayname: "Dave"
    password: "$argon2id$v=19$m=65536,t=3,p=4$LvPtoPAQLBxP5g3xVaOlIA$Tb8kcWtAregha1C01U9xSUB8hOkn5KSL7Sr486hGH/U"
    email: dave.nieuwenhuijzen@gmail.com
    groups:
      - admins
      - dev