client {
  enabled = true
  servers = [{% for h in groups['nomad_cluster']%}"{{ hostvars[h].ansible_host }}:4646"{% if not loop.last %},{% endif %}{% endfor %}]
  meta {
  }

  #host_volume "traefik_dynamic" {
  #  path      = "/mnt/services/traefik/dynamic"
  #  read_only = false
  #}

  #host_volume "traefik_certificates" {
  #  path      = "/mnt/services/traefik/certificates"
  #  read_only = false
  #}

  #host_volume "pihole_etc" {
  #  path      = "/mnt/services/pihole/etc"
  #  read_only = false
  #}

  #host_volume "pihole_dnsmasqd" {
  #  path      = "/mnt/services/pihole/dnsmasq.d"
  #  read_only = false
  #}
}

plugin "docker" {
  config {
    allow_caps = [ "ALL" ]
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}